/* commun */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-color: #00796B;
	color: white;
	font-family: 'Roboto', sans-serif; 
}

/* rentrer le nom de la ville */
#ville {
	width: 40%;
	margin-top: 5%;
	margin-right: 30%;
	margin-left: 30%;
	font-size: 40pt;
}

@media(max-width: 600px) {
	#ville {
	width: 40%;
	margin-top: 5%;
	margin-right: 30%;
	margin-left: 30%;
	font-size: 20pt;
	}
}

#bouton {
	background-color: white;
	color: #00796B;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#ville_et_date {
	text-align: center;
}

/* afficher la date */

#date {
	opacity:  0.3;
	font-size: 30pt;
}

@media(max-width: 600px) {
	#date {
		opacity:  0.3;
		font-size: 15pt;
	}
}

/* afficher la météo */
#temperature {
	font-size: 200pt;
	text-align: right;
}

@media(max-width: 600px) {
	#temperature {
		font-size: 100pt;
		text-align: center;
	}
}

.tailleTemp {
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: top;
}

#autres_donnees {
	font-size: 15pt;
	text-align: left;
}

@media(max-width: 600px) {
	#autres_donnees {
		font-size: 12pt;
		text-align: center;
	}
}