/* commun */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-color: #00796B;
	color: white;
	font-family: 'Roboto', sans-serif; 
}

/* rentrer le nom de la ville */
#ville {
	width: 40%;
	margin-top: 2%;
	margin-right: 30%;
	margin-left: 30%;
	font-size: 35pt;
}

@media(max-width: 600px) {
	#ville {
		width: 40%;
		margin-top: 2%;
		margin-right: 30%;
		margin-left: 30%;
		font-size: 20pt;
	}
}

#bouton {
	background-color: white;
	color: #00796B;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media(max-width: 600px){
	#bouton {
	background-color: white;
	color: #00796B;
	border-radius: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
}

#ville_et_date {
	text-align: center;
}

/* afficher la date */

#date {
	opacity:  0.3;
	font-size: 30pt;
}

@media(max-width: 600px) {
	#date {
		opacity:  0.3;
		font-size: 12pt;
	}
}

/* afficher la météo */
#temperature {
	font-size: 200pt;
	text-align: right;
}

@media(max-width: 600px) {
	#temperature {
		font-size: 60pt;
		text-align: center;
	}
}

#temp {
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: top;
}

#autres_donnees {
	font-size: 15pt;
	text-align: left;
}

@media(max-width: 600px) {
	#autres_donnees {
		font-size: 12pt;
		text-align: center;
	}
}

/* afficher les coordonnées GPS et la carte */
#coordonnees {
	font-size: 15pt;
	margin-left: 50px;
}

@media(max-width: 600px){
	#coordonnees {
		font-size: 12pt;
		margin-left: 10px;
	}
}

#carte {
	height: 600px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
}

@media(max-width: 600px){
	#carte {
		height: 400px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
}